<!doctype html>
<html lang="en" dir="ltr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="icon" href="favicon.ico" type="image/x-icon"/>
    <link href="../node_modules/bootstrap/dist/css/bootstrap.css" rel="stylesheet" type="text/css">
    <link href="../assets/css/main.css" rel="stylesheet" type="text/css">
    <title>Walletcab </title>
</head>
    <body bgcolor="#fff">
        <%- include('./common/header.ejs') %>
        <h1>Master</h1>
    
    </body>
    
    <script language="javascript" src="../node_modules/bootstrap/dist/js/bootstrap.min.js"></script>
    
</html>